body {
  background-color: #d52e3f;
}

.clock {
  position: fixed;
  top: 50%;
  left: 50%;
  color: #ffffff;
  font-size: 20vw;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 600;
  transform: translateX(-50%) translateY(-50%);
  min-width: fit-content;
  display: flex;
}

.clock > .separator {
  margin: 0 3vw; 
}

#seconds{
    margin: 0 3vw; 
}

.timeformat {
  font-size: 6vw;
  font-weight: 200;
}

.blink {
  visibility: hidden;
}

.title {
  text-align: center;
}

.title h2 {
  color: hsl(50, 50%, 50%);
  font-family: 'Niconne', cursive;
  font-weight: 700;
  font-size: 5rem;
  text-shadow: 1px 1px hsl(50, 50%, 45%),
  2px 2px hsl(50, 50%, 40%),
  3px 3px hsl(50, 50%, 35%),
  4px 4px hsl(50, 50%, 34%),
  5px 5px hsl(50, 50%, 33%),
  6px 6px hsl(50, 50%, 32%),
  7px 7px hsl(50, 50%, 31%),
  8px 8px hsl(50, 50%, 30%),
  9px 9px hsl(50, 50%, 29%),
  10px 10px hsl(50, 50%, 28%),
  10px 10px 30px rgba(0,0,0,.7)
}

footer {
  position: fixed;
  bottom: 0;
  text-align: center;
  background-color: black;
  padding: 10px 20px;
  color: white;
  width: 100%;
  left: 0;
  font-family: 'RocknRoll One', sans-serif;
}

footer span {
  color: red;
  margin-left: 2px;
}

.weekdays-container{
 display: block;
 color:#b19194;
 position:absolute;
 left:25%;
 top:20vh;
}

.weekdays{
 margin:10px 20px;
 display: inline-block;
 font-size: 2vw;
}

.currentday{
  color:#eee;
}


