body {
  background-image: url('https://www.xmple.com/wallpaper/linear-blue-black-gradient-1920x1080-c2-050d2f-01030a-a-0-f-14.svg');
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.clock {
  position: fixed;
  top: 50%;
  left: 50%;
  color: #ffffff;
  font-size: 20vw;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 600;
  min-width: fit-content;
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding-left: 8vw;
  margin: 0 8vw;
  border-radius: 5vw;
  background-color: rgba(255,255,255,0.1);
  backdrop-filter: blur(30px);
  background-clip: padding-box;
  color: aqua;
  box-shadow: 0px 0px 40px 15px aqua;
}

.clock > .separator {
  margin: 0 3vw; 
}



.timeformat {
  font-size: 6vw;
  font-weight: 200;
  margin-left: 2vw;
}

.blink {
  visibility: hidden;
}

.title {
  text-align: center;
}

.title h2 {
  color: hsl(50, 50%, 50%);
  font-family: 'Niconne', cursive;
  font-weight: 700;
  font-size: 5rem;
  margin: 0;
  text-shadow: 1px 1px hsl(50, 50%, 45%),
  2px 2px hsl(50, 50%, 40%),
  3px 3px hsl(50, 50%, 35%),
  4px 4px hsl(50, 50%, 34%),
  5px 5px hsl(50, 50%, 33%),
  6px 6px hsl(50, 50%, 32%),
  7px 7px hsl(50, 50%, 31%),
  8px 8px hsl(50, 50%, 30%),
  9px 9px hsl(50, 50%, 29%),
  10px 10px hsl(50, 50%, 28%),
  10px 10px 30px rgba(0,0,0,.7)
}

.colors {
  position: fixed;
  left: 0;
  bottom: 3vw;
  width: 100%;
  display: flex;
  justify-content: center;
}

.colors > div {
  height: 4vw;
  width: 4vw;
  border-radius: 50%;
  margin: 2vw;
  cursor: pointer;
}

.color1 {
  background-color: aqua;
}

.color2 {
  background-color: palegreen;
}

.color3 {
  background-color: sandybrown;
}

.color4 {
  background-color: darkcyan;
}

.color5 {
  background-color: hotpink;
}

.color6 {
  background-color: lightblue;
}

footer {
  position: fixed;
  bottom: 0;
  text-align: center;
  background-color: black;
  padding: 10px 20px;
  color: white;
  width: 100%;
  left: 0;
  font-family: 'RocknRoll One', sans-serif;
}

footer span {
  color: red;
  margin-left: 0.5vw;
}

.dateDayContainer {
  width: 30vw;
  margin: 3vw auto;
  text-align: center;
}

.weekdays-container{
 display: block;
 color:#b19194;
 position:absolute;
 left:25%;
 top:20vh;
}

.weekdays{
 margin:10px 20px;
 display: inline-block;
 font-size: 2vw;
}

.currentday{
  color:#eee;
}


.date {
  font-size: 3vw;
}
